/* ==========================================================================
   this styles the travelform.html file.
   ========================================================================== */

/*makes the div a into a table */
#formtable{
	display: table;/*display the div as a table*/
	border-spacing: 10px;
	
}
/*this create the rows of the table*/
#rows{display:table-row;}

/* this styles the the right side of the table */
#formaside{
	display: table-cell;/*display as a table cell*/
	font-size:100%;
	padding:15px;
	width: 25%;
	vertical-align: top;
}
/*this styles the form to be the left side of the table */
#question {
	display:table-cell;/*display as a table cell*/
	margin: 25px 25px 25px 50px;
	padding; 30px 20px 20px 20px;
	width: 75%;
	vertical-align: top;
}

/*this styles the text in the form*/
.formtext{  margin: 25px 25px 25px 15px;}




