
/*
this is used on every page.
*/
body{
	 background-image: url("image/3995532_L.png");
}

/*this styles the header of every page*/
header{
	height: 75px;/*make the hieght of the header 75px*/
	background-color:#333;/*change the background color of the header*/
	color: white;/*change the color of the text*/
	padding-top: 20px;
	padding-left: 20px;
	font-family: Impact, Charcoal, sans-serif; /*change the font of the text in the header*/
}
/*this styles the navagation bar of the web pages*/
nav {
    background-color: #333;/*change the color of the background of the navagation bar*/
	padding:10px 20px 10px 20px
	
}
nav a{
  color: white;/*change the color of the text of the hyperlink*/
  text-decoration: none;/*no text decoration*/
  margin: 20px 20px 20px 20px;
  
}
nav a:hover{
     background-color: #ddd;/*change the color of the background of the hyperlink when you hover over it*/
  color: black;/*change the text color of the hyperlink when you hover over it*/
  text-decoration: none;
}

/*this styles the container of the content for the web-page */
.container{ change this to id
	width:800px;
	margin:0px auto auto 0px;/*centers the container in the middle of the page*/
	margin-left:auto;
	margin-right;auto;
	background-color: white;/*makes the background white*/
}

/*this styles main section of the website*/
.card{
	background-color: #eee;
	display: block/*makes the display block*/
	font-size:  105%;
	padding: 20px;
	margin:10px 30px 10px 20px;
	width: 500px;/*makes the width of the card 500pixels wide*/
	float:left;/*floats it to the left side of the webpage*/
}

/*this styles the content at the right side of the dream*/
.aside{
	font-size:        100%;
	padding:          1px;
	margin:10px 20px 20px 580px;/*puts it to the right side of the webpage*/
	background:#eee;/*changes the color background of the aside*/
}

/* this styles the content in the footer of the website */
footer{
	clear: both;
	text-align: center;/*centers the text*/
	font-size:75%;/*changes the size of the text*/
}

/*this styles the buttons on the web-page*/
.button{
	background-color:#333;/*changes the color of the button
	border: none;/*makes the button have no border*/
	color: white;/*makes the text in the button white*/
	padding: 15px 25px;
	text-align: center;/*centers the text in the button*/
	font-size: 16px;
	cursor: pointer;
	display:block;
	margin:10px auto 10px;/*centers the button in the parent*/
 
}

/*this styles the picture that is used in the aside tags*/
.sidepic{
	/*changes the width of the image to 178 pixels and automaticly determine the hieght of the image*/
	height:auto;
	width: 178px;
	display: block;
	margin: 10px 10px 0px;
 
	
}



/*tis is t


/*this styles the table to have a margin of 10px*/
table, th, td{
	margin: 10px 10px 10px 10px;
 
}


.table{
	width: 500px;/*makes the width of the div 500 pixels*/
	float:left;/*floats the div to the left of the webpage*/
	 margin:20px 30px 10px 20px;
}

/*this styles the image to it into the table and centers it in the table*/
.pic{
	/*changes the width of the image to 170 pixels and automaticly determine the hieght of the image*/
	height:auto;
	width: 170px;
	display: block;
	/*centers the image*/
	margin-left: auto;
	margin-right: auto;
}




/*this styles the picture that are user in the article */
.artpic{
	
	/*changes the width of the image to 178 pixels and automaticly determine the hieght of the image*/
	height:auto;
	width: 490px;
	display: block;
	/*centers the image*/
	margin: 10px auto 0px;
	margin-left: auto;
	margin-right: auto;
	
}




/*this styles the article of the thank you page*/
.thankyou{
	
	background-color: #eee;/*change the color of the background*/
	display: block
	font-size:  105%;
	padding: 20px;
	margin:10px 30px 10px 20px;
}

/*this styles the picture on the thankyou.html page*/
.thankyoupic{

	/*changes the width of the image to 690 pixels and automaticly determine the hieght of the image*/
	height:auto;
	width: 690px;
	display: block;
	/*centers the image*/
	margin: 10px auto 0px;
	margin-left: auto;
	margin-right: auto;
}





.formpic{
	margin:10px 20px 20px 590px;
	float: right;
}


