
/* ==========================================================================
   this is used on every page.
   ========================================================================== */

body{
	 background-image: url("image/3995532_L.png");/*change the background of the web page*/
	 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*this styles the header of every page*/
header{
	height: 75px;/*make the height of the header 75px*/
	background-color:#333;/*change the background color of the header*/
	color: white;/*change the color of the text*/
	padding-top: 20px;
	padding-left: 20px;
	font-family: Impact, Charcoal, sans-serif; /*change the font of the text in the header*/
}
header a{
	text-decoration: none;/*no text decoration*/
	color: white;/*change the color of the text*/
}
/*this styles the navigation bar of the web pages*/
nav {
    background-color: #333;/*change the color of the background of the navigation bar*/
	padding:10px 20px 10px 20px
	
}
nav a{
  color: white;/*change the color of the hyper-link*/
  text-decoration: none;/*no text decoration*/
  margin: 20px 20px 20px 20px;
  
}
nav a:hover{
     background-color: #ddd;/*change the color of the hyper-link's background when you hover over it*/
  color: black;/*change the text color of the hyper-link when you hover over it*/
  text-decoration: none;/*no text decoration*/
}

/*this styles the container of the content for the web page */
#container{
	width:800px;/*makes the container 800px wide*/
	margin:0px auto 0px;/*centers the container in the middle of the page*/
	background-color: white;/*makes the background white*/
}

/* this styles the content in the footer of the web page */
footer{
	clear: both;/*nothing can overlap the footer*/
	text-align: center;/*centers the text*/
	font-size:75%;/*changes the size of the text*/
}



/* ==========================================================================
   this is used on index.html,post1.html,and post2.html.
   ========================================================================== */

/*this styles the main cards of the web page*/
.card{
	background-color: #eee;/*change the background of the card*/
	display: block/*makes the display block*/
	font-size:  100%;
	padding: 20px;
	margin:10px 30px 10px 20px;
	width: 500px;/*makes the container 500px wide*/
	float:left;/*floats it to the left side of the web page*/
}


.arttitle{
	 font-family: Tahoma, Verdana, Segoe, sans-serif
	}


/* ==========================================================================
   this is used on on every page except thank_you.html and travelform.html pages.
   ========================================================================== */

/*this styles the content at the right side of the web page*/
.aside{
	font-size:100%;
	padding:1px;
	margin:10px 20px 20px 580px;/*puts it to the right side of the web page*/
	background:#eee;/*changes the color background of the aside*/
	font-family: Consolas, monaco, monospace;
}







/*this styles the buttons on the web page*/
.button{
	background-color:#333;/*changes the color of the button*/
	border: none;/*makes the button have no border*/
	color: white;/*makes the text in the button white*/
	padding: 15px 25px;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;/*centers the text in the button*/
	font-size: 16px;
	cursor: pointer;/*change the cursor to a pointer*/
	display:block;
	margin:10px auto 10px;/*centers the button in the parent*/
 
}

/* ==========================================================================
   this styles the photo.html file
   ========================================================================== */

/*this styles the table to have a margin of 10px*/
 table,th, td{
	margin: 10px 10px 10px 0px;
 
}

/*this is the container of the table*/
.table{
	
	padding: 20px;
	margin:10px 30px 10px 20px;
	width: 500px;/*makes the container 500px wide*/
	float:left;/*floats it to the left side of the web page*/
}


/* ==========================================================================
   this styles  the thank_you.html file.
   ========================================================================== */

/*this styles the article of the thank you page*/
.thankyou{
	background-color: #eee;/*change the color of the background*/
	display: block
	font-size:  100%;
	padding: 20px;
	margin:10px 30px 10px 20px;
}


/* ==========================================================================
   this styles all the images on the web pages.
   ========================================================================== */


/*this styles the images in the table*/
.pic{
	/*changes the width of the image to 160 pixels and automatically determine the height of the image*/
	height:auto;
	width: 160px;
	display: block;
	/*centers the image in the middle of the parent*/
	margin-left: auto;
	margin-right: auto;
}




/*this styles the picture that are used in the article */
.artpic{
	/*changes the width of the image to 490 pixels and automatically determine the height of the image*/
	height:auto;
	width: 490px;
	display: block;
	/*centers the image in the middle of the parent*/
	margin: 10px auto 0px;
	
	
}

/*this styles the picture that is used in the aside tags*/
.sidepic{
	/*changes the width of the image to 178 pixels and automatically determine the height of the image*/
	height:auto;
	width: 178px;
	display: block;
	margin: 10px 10px 0px;
 
	
}

/*this styles the picture on the thank_you.html page*/
.thankyoupic{
	/*changes the width of the image to 690 pixels and automatically determine the height of the image*/
	height:auto;
	width: 690px;
	display: block;
	/*centers the image in the middle of the parent*/
	margin: 10px auto 0px;

}






