
body{
	background-color: blue;
}
/*nav {
    background-color: #efe5d0;
	margin: 10px 10px 0px 10px;
}*/

nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
div#table{
	display: table;
	border-spacing: 10px;
}

article{
	background-color: #eee;
	display: block
  font-size:  105%;
   padding: 20px;
  margin 20px 0px 20px opx;
  width:600px;
  /*vertical-align: top;*/
  border: thin dotted;
  float:left;
}
aside{
	/*display: table-cell;*/
  font-size:        105%;
  padding:          15px;
  /*width: 25%;*/
  margin 0px 10px 0px 2000px;
  /*float:right;*/
    background:gray;


}

div#rows{
	display:table-row;
}
section#main{
	
	display: table-cell;
  background:black;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
  width: 75%;
}

div#container{
width:800px;
margin:0px auto auto 0px;
margin-left:auto;
margin-right;auto;
background-color: white;
 opacity: 0.6;
  filter: alpha(opacity=60);
}

div#question{
	margin: 25px 0px 25px 50px;
	padding-bottom; 14px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
section#table{
	
	float:left;
}
